.filter-wrapper {
	.filter-icon {
		float: left;
		font-size: 275%;
		padding: 10px 30px;
	}
	.operation-filter-input {
		width: 90%;
		margin: 2px 0;
		padding: 21px 10px;
		border: 2px solid $operational-filter-input-border-color;
	}
	padding-bottom: 20px;
}

.checkbox-wrapper {
	padding-top: 20px;
	padding-left: 125px;
	vertical-align: middle;
	.sub-checkbox-wrapper {
		padding-top: 10px;
		padding-left: 135px;
		vertical-align: middle;
	}
	.singular-checkbox {
		display: inline-block;
		overflow: hidden;
	}
}

.radio-wrapper {
	padding-top: 20px;
	padding-left: 125px;
	vertical-align: middle;
}

label {
	font-size: 100%;
	display: inline-block;
}

input[type=checkbox] {
	padding-top: 20px;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 6px;
	background-clip: content-box;
	border: 1.5px solid #bbbbbb;
	border-radius: 6px;
	background-color: #e7e6e7;
	margin-left: 15px;
	margin-right: 15px;
	&:checked {
		background-color: #1E90FF;
	}
	&:focus {
		outline: none !important;
	}
}

input[type=radio] {
	padding-top: 20px;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-ms-transform: scale(2); /* IE 9 */
	-webkit-transform: scale(2); /* Chrome, Safari, Opera */
	transform: scale(2);
	display: inline-block;
	padding: 6px;
	border: 1.5px solid #bbbbbb;
	border-radius: 10px;
	background-color: #e7e6e7;
	margin-left: 15px;
	margin-right: 15px;
	&:checked {
		background-color: #1E90FF;
	}
	&:focus {
		outline: none !important;
	}
}
